.main_padding_margin {
    margin: 15px;
    padding: 10px;
}

.month-table th {
    background-color: #00d1b2;
    color : white;
}

.custom-bh-text {
    color: blue;
}

.home_page_body {
    padding : 15px;
    margin : 15px;
}

.week-workout-block {
    background-color: #00d1b2;
    width: 140px;
    height: 65px;
    float: left;
    padding: 10px;
    margin: 5px;
    color:white;
}