<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
</head>

<body>

<!--<div th:replace="/common/navbar :: navbar"/>-->

<!--<div th:fragment="navbar">-->
    <!--<nav style="background-color: #5F6B91;color:white" class="navbar navbar-expand-lg navbar-dark ">-->

        <!--<a class="navbar-brand" href="/home">Home</a>-->

        <!--<button class="navbar-toggler" type="button"-->
                <!--data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->

        <!--<div class="collapse navbar-collapse" id="navbarNav">-->
            <!--<ul class="navbar-nav">-->
                <!--<li style="color: white" class="nav-item">-->
                    <!--<a class="nav-link" href="/workouts/view">My Workouts</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="/workout/new">Create Workout</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="/workout/find">Find Workout</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="/workouts/week">Week view</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="/workouts/month">Month view</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="/registration">Register</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="/exercises/own">Own Exercises</a>-->
                <!--</li>-->
                <!--&lt;!&ndash;<form class="form-inline">&ndash;&gt;-->
                <!--&lt;!&ndash;<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">&ndash;&gt;-->
                <!--&lt;!&ndash;<button style="float: right" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>&ndash;&gt;-->
                <!--&lt;!&ndash;</form>&ndash;&gt;-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div>-->
            <!--<ul class="navbar-nav" sec:authorize="isAuthenticated()">-->
                <!--<li  class="nav-item dropdown">-->
                    <!--<a class="nav-link dropdown-toggle"-->
                       <!--style="color: white"-->
                       <!--href="#"-->
                       <!--id="navbarDropdown"-->
                       <!--role="button"-->
                       <!--data-toggle="dropdown"-->
                       <!--aria-haspopup="true"-->
                       <!--aria-expanded="false">-->
                        <!--Profile-->
                    <!--</a>-->
                    <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                        <!--<a class="dropdown-item" th:href="@{/profile}" href="#">Profile page</a>-->
                        <!--<div class="dropdown-divider"></div>-->
                        <!--<a class="dropdown-item" href="#" th:href="@{/logout}">Logout</a>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</nav>-->
<!--</div>-->

<div class="container">
    <!--<img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" />-->
    <form th:action="@{/login}" method="POST" class="form-signin">

        <h3 class="form-signin-heading" th:text="Welcome"></h3>

        <br/>

        <input type="text" id="login" name="login"  th:placeholder="Login"
               class="form-control" />
        <br/>
        <input type="password"  th:placeholder="Password"
               id="password" name="password" class="form-control" />
        <br />

        <!--<div align="center" th:if="${param.error}">-->
            <!--<p style="font-size: 20px; color: #FF1C19;">Email or Password invalid, please verify</p>-->
        <!--</div>-->

        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
        <a href="" th:href="@{/registration}" class="btn btn-info btn-block" name="Submit" value="Register" type="Submit" th:text="Register"></a>

    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-165694098-1');
</script>
</body>
</html>