<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Set</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>

<!--<div th:replace="/common/navbar :: navbar"></div>-->

<div th:fragment="navbar">
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">

            <a class="navbar-item" href="/home">
                <img src="https://img.icons8.com/dotty/80/000000/barbell.png">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>

        </div>

        <div id="navbarBasicExample" class="navbar-menu">

            <div class="navbar-start">

                <a class="navbar-item" href="/home">
                    Home
                </a>

                <a class="navbar-item" href="/workouts/view">
                    Workouts
                </a>

                <a class="navbar-item" href="/workouts/week">
                    Week View
                </a>

                <a class="navbar-item" href="/workouts/month">
                    Month View
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/workout/find">
                            Find Workout
                        </a>
                        <a class="navbar-item" href="/workout/new">
                            Create Workout
                        </a>
                        <a href="/workout/stats" class="navbar-item">
                            Workouts Statistics
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="/registration">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" href="/profile">
                            Profile
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="container">

    <form th:action="@{/exercise/{id}/sets/new(id=${exercise.id})}" th:object="${set}" method="post">

        <div class="field">
            <label class="label" for="number"><b>Number</b></label>
            <input class="input is-info" th:field="*{number}" type="text" id="number" aria-describedby="number" placeholder="Number">
            <p th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Number Error></p>
        </div>

        <div class="field">
            <label class="label" for="weight"><b>Weight(Kg)</b></label>
            <input class="input is-info"th:field="*{weight}" type="text" id="weight" aria-describedby="weight" placeholder="Weight">
            <p th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}">Number Error></p>
        </div>

        <div class="field">
            <label class="label" for="reps"><b>Reps</b></label>
            <input class="input is-info" th:field="*{reps}" type="text" id="reps" aria-describedby="reps" placeholder="Reps">
            <p th:if="${#fields.hasErrors('reps')}" th:errors="*{number}">reps Error></p>
        </div>

        <div class="field">
            <label class="label" for="setTime"><b>Duration Time (seconds)</b></label>
            <input class="input is-info" th:field="*{setTime}" type="text" id="setTime" aria-describedby="setTime" placeholder="Set Time">
            <p th:if="${#fields.hasErrors('setTime')}" th:errors="*{setTime}">Set Duration Error></p>
        </div>

        <div class="field">
            <label class="label" for="breakInSeconds"><b>Break Time (seconds)</b></label>
            <input class="input" th:field="*{breakInSeconds}" type="text" id="breakInSeconds" aria-describedby="breakInSeconds" placeholder="Time">
            <p th:if="${#fields.hasErrors('breakInSeconds')}" th:errors="*{breakInSeconds}">Number Error></p>
        </div>

        <div class="field">
            <label class="label" for="comments"><b>Comments</b></label>
            <textarea class="textarea" id="comments" th:field="*{comments}" rows="3"></textarea>
        </div>

        <button type="submit" class="button is-success">Submit</button>

    </form>

</div>

</body>
</html>