<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165694098-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-165694098-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Edit Workout</title>

    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        } );
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>

<!--<div th:replace="/common/navbar :: navbar"></div>-->

<div th:fragment="navbar">
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">

            <a class="navbar-item" href="/home">
                <img src="https://img.icons8.com/dotty/80/000000/barbell.png">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>

        </div>

        <div id="navbarBasicExample" class="navbar-menu">

            <div class="navbar-start">

                <a class="navbar-item" href="/home">
                    Home
                </a>

                <a class="navbar-item" href="/workouts/view">
                    Workouts
                </a>

                <a class="navbar-item" href="/workouts/week">
                    Week View
                </a>

                <a class="navbar-item" href="/workouts/month">
                    Month View
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/workout/find">
                            Find Workout
                        </a>
                        <a class="navbar-item" href="/workout/new">
                            Create Workout
                        </a>
                        <a href="/workout/stats" class="navbar-item">
                            Workouts Statistics
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="/registration">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" href="/profile">
                            Profile
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="container">

    <form th:action="@{/workout/{id}/edit(id=${workout.id})}" th:object="${workout}" method="post">

        <input type="hidden" th:field="*{id}" />

        <!--<div class="form-group">-->
            <!--<label for="name">Title</label>-->
            <!--<input th:field="*{name}" type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Title">-->
            <!--<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Title Error></p>-->
        <!--</div>-->

        <div class="field">
            <label class="label" for="workoutType"><b>Type</b></label>
            <div class="select is-info">
                <select id="workoutType" th:field="*{workoutType}">
                    <option value="">Select workout type</option>
                    <option th:each="workoutType : ${T(com.bh.workouts.bhworkoutapp.models.WorkoutType).values()}"
                            th:value="${workoutType}"
                            th:text="${workoutType}">
                    </option>
                </select>
            </div>
            <p th:if="${#fields.hasErrors('workoutType')}" th:errors="*{workoutType}">Type Error></p>
        </div>

        <div class="field">
            <label class="label" for="datepicker"><b>Date( MM/dd/yyyy )</b></label>
            <input class="input is-info" type="text" id="datepicker" th:field="*{workoutDate}" >
        </div>

        <div class="feild">
            <label class="label" for="comments"><b>Comments</b></label>
            <textarea class="textarea" id="comments" th:field="*{comments}" rows="3"></textarea>
        </div>

        <button type="submit" class="button is-info">Submit</button>

    </form>

</div>


</body>
</html>