<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Statistics</title>

    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>

<body >

<!--<div th:replace="/common/navbar :: navbar"/>-->

<div th:fragment="navbar">
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">

            <a class="navbar-item" href="/home">
                <img src="https://img.icons8.com/dotty/80/000000/barbell.png">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>

        </div>

        <div id="navbarBasicExample" class="navbar-menu">

            <div class="navbar-start">

                <a class="navbar-item" href="/home">
                    Home
                </a>

                <a class="navbar-item" href="/workouts/view">
                    Workouts
                </a>

                <a class="navbar-item" href="/workouts/week">
                    Week View
                </a>

                <a class="navbar-item" href="/workouts/month">
                    Month View
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/workout/find">
                            Find Workout
                        </a>
                        <a class="navbar-item" href="/workout/new">
                            Create Workout
                        </a>
                        <a href="/workout/stats" class="navbar-item">
                            Workouts Statistics
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="/registration">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" href="/profile">
                            Profile
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="section">

    <div class="container">

        <h1 class="title is-2">Statistics for <span id="year-span" style="color: #00d1b2" th:text="${year}"></span> year</h1>

        <select name="year-select" id="year-select">
            <option value="2019">2019</option>
            <option selected value="2020">2020</option>
        </select>
        <br>
        <button class="button" id="year-confirm-btn">Select</button>

        <br>

        <div id="columnchart_values"></div>

    </div>

</div>

<script th:inline="javascript" type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script th:inline="javascript" type="text/javascript">

    const yearSelect = document.querySelector('#year-select');
    const yearSpan = document.querySelector('#year-span')

    yearSelect.addEventListener('change', e => {
        yearSpan.textContent = yearSelect.value;
        fetch(`/rest/api/v1/stats/workouts/${yearSelect.value}`)
            .then(response => response.json())
            .then(data => {
                console.log(data)
                generateChart(data)
            });
    });

    function generateChart(data) {

        google.charts.load("current", {packages:['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ["Month", "Number", {role: "style"}],
                ["January", data.january, "#b87333"],
                ["February", data.february, "silver"],
                ["March", 0, "gold"],
                ["April", 0, "color: green"],
                ["May", 0, "color: #3FBF7F"],
                ["June", 0, "color: #3F7FBF"],
                ["July", 0, "color: #BF3FBF"],
                ["August", 0, "color: #3FBFBF"],
                ["September", 0, "color: #3F3FBF"],
                ["October", 0, "color: #BFBF3F"],
                ["November", 0, "color: #19334C"],
                ["December", 0, "color: #6D20BF"]
            ]);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                {
                    calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"
                },
                2]);

            var options = {
                title: "Total numbers of workouts per each month",
                width: 1200,
                height: 800,
                bar: {groupWidth: "95%"},
                legend: {position: "none"}
            };
            var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
            chart.draw(view, options);
        }
    }

    // generateChart();

</script>


<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-165694098-1');
</script>
<!--<script src="../../js/stats.js"></script>-->
</body>

</html>