<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165694098-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-165694098-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Week view</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>

<div th:fragment="navbar">
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">

            <a class="navbar-item" href="/home">
                <img src="https://img.icons8.com/dotty/80/000000/barbell.png">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>

        </div>

        <div id="navbarBasicExample" class="navbar-menu">

            <div class="navbar-start">

                <a class="navbar-item" href="/home">
                    Home
                </a>

                <a class="navbar-item" href="/workouts/view">
                    Workouts
                </a>

                <a class="navbar-item" href="/workouts/week">
                    Week View
                </a>

                <a class="navbar-item" href="/workouts/month">
                    Month View
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/workout/find">
                            Find Workout
                        </a>
                        <a class="navbar-item" href="/workout/new">
                            Create Workout
                        </a>
                        <a href="/workout/stats" class="navbar-item">
                            Workouts Statistics
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="/registration">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" href="/profile">
                            Profile
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<!-- NAVIGATION END-->

<div class="section">

    <div class="container">

        <hr>
        <h3 class=" title is-3">Workouts week view</h3>
        <hr>

        <p th:text="${daysMap.get('convertedSundayDate')} + ' -- ' + ${daysMap.get('convertedSaturdayDate')}"></p>
        <br>

        <div>
            <div class="week-workout-block">
                <div class="day-div">
                    SU<span style="color: orange" th:text="${daysMap.get('convertedSundayDate').substring(3, 5)}"></span>
<!--                    <a href="/workout/new">-->
<!--                        <img style="vertical-align: bottom" src="../../images/cross_green.png" height="20" width="20" alt="Add">-->
<!--                    </a>-->
                </div>
                <div>
                    <th:block th:each="workout : ${userWorkouts}">
                        <p th:if="${workout.workoutDate.equals(daysMap.get('convertedSundayDate'))} ">

                            <a href="#" th:href="@{/workout/{id}(id=${workout.id})}">
                                <img src="#" alt="image"  th:src="@{${workout.imagePath}}" />
                            </a>
                        </p>
                    </th:block>
                </div>
            </div>
            <div class="week-workout-block">
                <div>
                    MO<span style="color: orange" th:text="${daysMap.get('convertedMondayDate').substring(3, 5)}"></span>
                    <a href="/workout/new">
                        <img style="vertical-align: bottom" src="../../images/cross_green.png" height="20" width="20" alt="Add">
                    </a>
                </div>
                <div>
                    <th:block th:each="workout : ${userWorkouts}">
                        <p th:if="${workout.workoutDate.equals(daysMap.get('convertedMondayDate'))} ">

                            <a href="#" th:href="@{/workout/{id}(id=${workout.id})}">
                                <img src="#" alt="image"  th:src="@{${workout.imagePath}}" />
                            </a>
                        </p>
                    </th:block>
                </div>
            </div>
            <div class="week-workout-block">
                <div>
                    TU
                    <span style="color: orange" th:text="${daysMap.get('convertedTuesdayDate').substring(3, 5)}"></span>
                    <a href="/workout/new">
                        <img style="vertical-align: bottom" src="../../images/cross_green.png" height="20" width="20" alt="Add">
                    </a>
                </div>
                <div>
                    <th:block th:each="workout : ${userWorkouts}">
                        <p th:if="${workout.workoutDate.equals(daysMap.get('convertedTuesdayDate'))} ">

                            <a href="#" th:href="@{/workout/{id}(id=${workout.id})}">
                                <img src="#" alt="image"  th:src="@{${workout.imagePath}}" />
                            </a>
                        </p>
                    </th:block>
                </div>
            </div>
            <div class="week-workout-block">
                <div>
                    WE
                    <span style="color: orange" th:text="${daysMap.get('convertedWednesdayDate').substring(3, 5)}"></span>
                    <a href="/workout/new">
                        <img style="vertical-align: bottom" src="../../images/cross_green.png" height="20" width="20" alt="Add">
                    </a>
                </div>
                <div>
                    <th:block th:each="workout : ${userWorkouts}">
                        <p th:if="${workout.workoutDate.equals(daysMap.get('convertedWednesdayDate'))} ">

                            <a href="#" th:href="@{/workout/{id}(id=${workout.id})}">
                                <img src="#" alt="image"  th:src="@{${workout.imagePath}}" />
                            </a>
                        </p>
                    </th:block>
                </div>
            </div>
            <div class="week-workout-block">
                <div>
                    TH
                    <span style="color: orange" th:text="${daysMap.get('convertedThursdayDate').substring(3, 5)}"></span>
                    <a href="/workout/new">
                        <img style="vertical-align: bottom" src="../../images/cross_green.png" height="20" width="20" alt="Add">
                    </a>
                </div>
                <div>
                    <th:block th:each="workout : ${userWorkouts}">
                        <p th:if="${workout.workoutDate.equals(daysMap.get('convertedThursdayDate'))} ">

                            <a href="#" th:href="@{/workout/{id}(id=${workout.id})}">
                                <img src="#" alt="image"  th:src="@{${workout.imagePath}}" />
                            </a>
                        </p>
                    </th:block>
                </div>
            </div>
            <div class="week-workout-block">
                <div>
                    FR
                    <span style="color: orange" th:text="${daysMap.get('convertedFridayDate').substring(3, 5)}"></span>
                    <a href="/workout/new">
                        <img style="vertical-align: bottom" src="../../images/cross_green.png" height="20" width="20" alt="Add">
                    </a>
                </div>
                <div>
                    <th:block th:each="workout : ${userWorkouts}">
                        <p th:if="${workout.workoutDate.equals(daysMap.get('convertedFridayDate'))} ">

                            <a href="#" th:href="@{/workout/{id}(id=${workout.id})}">
                                <img src="#" alt="image"  th:src="@{${workout.imagePath}}" />
                            </a>
                        </p>
                    </th:block>
                </div>
            </div>
            <div class="week-workout-block">
                <div>
                    SA
                    <span style="color: orange" th:text="${daysMap.get('convertedSaturdayDate').substring(3, 5)}"></span>
                    <a href="/workout/new">
                        <img style="vertical-align: bottom" src="../../images/cross_green.png" height="20" width="20" alt="Add">
                    </a>
                </div>
                <div>
                    <th:block th:each="workout : ${userWorkouts}">
                        <p th:if="${workout.workoutDate.equals(daysMap.get('convertedSaturdayDate'))} ">

                            <a href="#" th:href="@{/workout/{id}(id=${workout.id})}">
                                <img src="#" alt="image"  th:src="@{${workout.imagePath}}" />
                            </a>
                        </p>
                    </th:block>
                </div>
            </div>
        </div>

        <!--        <table class="table is-bordered">xt="${daysMap.get('convertedSaturdayDate')}"></th>&ndash;&gt;-->
        <!--            <tr >-->
        <!--                <th>SU-->
        <!--                    <span style="color: orange" th:text="${daysMap.get('convertedSundayDate').substring(3, 5)}"></span>-->
        <!--                    <a href="/workout/new">-->
        <!--                        <img style="vertical-align: bottom" src="../../images/cross_green.png" height="20" width="20" alt="Add">-->
        <!--                    </a>-->
        <!--                </th>-->
        <!--                <th>MO-->
        <!--                    <span style="color: orange" th:text="${daysMap.get('convertedMondayDate').substring(3, 5)}"></span>-->
        <!--                    <a href="/workout/new">-->
        <!--                        <img style="vertical-align: bottom" src="../../images/cross_green.png" height="20" width="20" alt="Add">-->
        <!--                    </a>-->
        <!--                </th>-->
        <!--                <th>TU-->
        <!--                    <span style="color: orange" th:text="${daysMap.get('convertedTuesdayDate').substring(3, 5)}"></span>-->
        <!--                    <a href="/workout/new">-->
        <!--                        <img style="vertical-align: bottom" src="../../images/cross_green.png" height="20" width="20" alt="Add">-->
        <!--                    </a>-->
        <!--                </th>-->
        <!--                <th>WE-->
        <!--                    <span style="color: orange" th:text="${daysMap.get('convertedWednesdayDate').substring(3, 5)}"></span>-->
        <!--                    <a href="/workout/new">-->
        <!--                        <img style="vertical-align: bottom" src="../../images/cross_green.png" height="20" width="20" alt="Add">-->
        <!--                    </a>-->
        <!--                </th>-->
        <!--                <th>TH-->
        <!--                    <span style="color: orange" th:text="${daysMap.get('convertedThursdayDate').substring(3, 5)}"></span>-->
        <!--                    <a href="/workout/new">-->
        <!--                        <img style="vertical-align: bottom" src="../../images/cross_green.png" height="20" width="20" alt="Add">-->
        <!--                    </a>-->
        <!--                </th>-->
        <!--                <th>FR-->
        <!--                    <span style="color: orange" th:text="${daysMap.get('convertedFridayDate').substring(3, 5)}"></span>-->
        <!--                    <a href="/workout/new">-->
        <!--                        <img style="vertical-align: bottom" src="../../images/cross_green.png" height="20" width="20" alt="Add">-->
        <!--                    </a>-->
        <!--                </th>-->
        <!--                <th>SA-->
        <!--                    <span style="color: orange" th:text="${daysMap.get('convertedSaturdayDate').substring(3, 5)}"></span>-->
        <!--                    <a href="/workout/new">-->
        <!--                        <img style="vertical-align: bottom" src="../../images/cross_green.png" height="20" width="20" alt="Add">-->
        <!--                    </a>-->
        <!--                </th>-->
        <!--            </tr>-->
<!--        <tr>-->
<!--            <td class="month-table-td">-->
<!--                <th:block th:each="workout : ${userWorkouts}">-->
<!--                    <p th:if="${workout.workoutDate.equals(daysMap.get('convertedSundayDate'))} ">-->

<!--                        <a href="#" th:href="@{/workout/{id}(id=${workout.id})}">-->
<!--                            <img src="#" alt="image"  th:src="@{${workout.imagePath}}" />-->
<!--                        </a>-->
<!--                    </p>-->
<!--                </th:block>-->
<!--            </td>-->
<!--            <td class="month-table-td">-->
<!--                <th:block th:each="workout : ${userWorkouts}">-->
<!--                    <p th:if="${workout.workoutDate.equals(daysMap.get('convertedMondayDate'))} ">-->

<!--                        <a href="#" th:href="@{/workout/{id}(id=${workout.id})}">-->
<!--                            <img src="#" alt="image"  th:src="@{${workout.imagePath}}" />-->
<!--                        </a>-->
<!--                    </p>-->
<!--                </th:block>-->
<!--            </td>-->
<!--            <td class="month-table-td">-->
<!--                <th:block th:each="workout : ${userWorkouts}">-->
<!--                    <p th:if="${workout.workoutDate.equals(daysMap.get('convertedTuesdayDate'))} ">-->

<!--                        <a href="#" th:href="@{/workout/{id}(id=${workout.id})}">-->
<!--                            <img src="#" alt="image"  th:src="@{${workout.imagePath}}" />-->
<!--                        </a>-->
<!--                    </p>-->
<!--                </th:block>-->
<!--            </td>-->
<!--            <td class="month-table-td">-->
<!--                <th:block th:each="workout : ${userWorkouts}">-->
<!--                    <p th:if="${workout.workoutDate.equals(daysMap.get('convertedWednesdayDate'))} ">-->

<!--                        <a href="#" th:href="@{/workout/{id}(id=${workout.id})}">-->
<!--                            <img src="#" alt="image"  th:src="@{${workout.imagePath}}" />-->
<!--                        </a>-->
<!--                    </p>-->
<!--                </th:block>-->
<!--            </td>-->
<!--            <td class="month-table-td">-->
<!--                <th:block th:each="workout : ${userWorkouts}">-->
<!--                    <p th:if="${workout.workoutDate.equals(daysMap.get('convertedThursdayDate'))} ">-->

<!--                        <a href="#" th:href="@{/workout/{id}(id=${workout.id})}">-->
<!--                            <img src="#" alt="image"  th:src="@{${workout.imagePath}}" />-->
<!--                        </a>-->
<!--                    </p>-->
<!--                </th:block>-->
<!--            </td>-->
<!--            <td class="month-table-td">-->
<!--                <th:block th:each="workout : ${userWorkouts}">-->
<!--                    <p th:if="${workout.workoutDate.equals(daysMap.get('convertedFridayDate'))} ">-->

<!--                        <a href="#" th:href="@{/workout/{id}(id=${workout.id})}">-->
<!--                            <img src="#" alt="image"  th:src="@{${workout.imagePath}}" />-->
<!--                        </a>-->
<!--                    </p>-->
<!--                </th:block>-->
<!--            </td>-->
<!--            <td class="month-table-td">-->
<!--                <th:block th:each="workout : ${userWorkouts}">-->
<!--                    <p th:if="${workout.workoutDate.equals(daysMap.get('convertedSaturdayDate'))} ">-->

<!--                        <a href="#" th:href="@{/workout/{id}(id=${workout.id})}">-->
<!--                            <img src="#" alt="image"  th:src="@{${workout.imagePath}}" />-->
<!--                        </a>-->
<!--                    </p>-->
<!--                </th:block>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </table>-->
    </div>
</div>


</body>
</html>