<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Other month view</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>

<!--<div th:replace="/common/navbar :: navbar"></div>-->

<div th:fragment="navbar">
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/home">
                <img src="https://img.icons8.com/dotty/80/000000/barbell.png">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/home">
                    Home
                </a>

                <a class="navbar-item" href="/workouts/view">
                    Workouts
                </a>

                <a class="navbar-item" href="/workouts/week">
                    Week View
                </a>

                <a class="navbar-item" href="/workouts/month">
                    Month View
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/workout/find">
                            Find Workout
                        </a>
                        <a class="navbar-item" href="/workout/new">
                            Create Workout
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="/registration">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" href="/profile">
                            Profile
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<!-- NAVBAR END-->

<div class="container">

    <div>
        <hr>
        <h3 class="title is-3">Workouts month view</h3>
        <hr>

        <h4 class="title is-4" th:text="${monthNow} + ' ' + ${yearNow}"></h4>
        <div>
            <a href="" class="button is-info" th:href="@{/workout/other/month}">Other Month</a>
        </div>
        <hr>
        <p>
            <a class="button is-success" href="#" th:href="@{/workout/new}">Create Workout</a>
        </p>
    </div>

    <!--  STATISTICS  -->
    <div class="columns">
        <div class="column">

            <h5 class="title is-5">Number of workouts this month</h5>

            <table class="table table-bordered">
                <tr>
                    <td><img src="../../images/colors/back_new.png" alt=""></td><td th:text="${backWorkoutsNumber}"></td>
                </tr>
                <tr>
                    <td><img src="../../images/colors/bics_new.png" alt=""></td><td th:text="${bicepsWorkoutsNumber}"></td>
                </tr>
                <tr>
                    <td><img src="../../images/colors/delts_new.png" alt=""></td><td th:text="${deltsWorkoutsNumber}"></td>
                </tr>
                <tr>
                    <td><img src="../../images/colors/pecs_new.png" alt=""></td><td th:text="${pecsWorkoutsNumber}"></td>
                </tr>
                <tr>
                    <td><img src="../../images/colors/trics_new.png" alt=""></td><td th:text="${tricepsWorkoutsNumber}"></td>
                </tr>
            </table>
        </div>
        <div class="column">
            <div id="donutchart" style="width: 900px; height: 500px;"></div>
        </div>

    </div>

    <br />

    <!-- END of STATS -->

    <div class="container">
        
        <article class="panel is-info">
                <p class="panel-heading">
                    Month View
                </p>
                <div class="panel-block">
        
                    <th:block th:each="currentWorkoutDay : ${weekOneCurrentDays}">

                        <span style="float: left;background-color: #8393c4;border: rgb(53, 161, 211);margin: 5px;padding: 5px">

                            <span style="color:white" th:text="${currentWorkoutDay.dayName} + ' ' " ></span>
                            <span style="color: orange" th:text="${currentWorkoutDay.dayNumber}" ></span>

                            <th:block th:each="workout : ${userWorkouts}">

                                <span th:if="${workout.workoutDate.equalsIgnoreCase(currentWorkoutDay.todayWeekDate)} ">

                                    <br />
                                    <a href="#" th:href="@{/workout/{id}(id=${workout.id})}">
                                        <img src="#" alt="image" th:src="@{${workout.imagePath}}" />
                                    </a>

                                </span>

                            </th:block>

                        </span>

                    </th:block>
        
                </div>               

                <div class="panel-block">            

                    <th:block th:each="currentWorkoutDay : ${weekTwoCurrentDays}">

                        <div style="float: left;background-color: #8393c4;border: darkmagenta;margin: 5px;padding: 5px">

                            <span style="color:white" th:text="${currentWorkoutDay.dayName} + ' ' " ></span>
                            <span style="color: orange" th:text="${currentWorkoutDay.dayNumber}" ></span>

                            <th:block th:each="workout : ${userWorkouts}">

                        <span th:if="${workout.workoutDate.equalsIgnoreCase(currentWorkoutDay.todayWeekDate)} ">

                            <br />
                            <a href="#" th:href="@{/workout/{id}(id=${workout.id})}">
                                <img src="#" alt="image" th:src="@{${workout.imagePath}}" />
                            </a>

                        </span>

                            </th:block>

                        </div>

                    </th:block>

                </div>
            
                <div class="panel-block"> 

                    <th:block th:each="currentWorkoutDay : ${weekThreeCurrentDays}">

                        <div style="float: left;background-color: #8393c4;border: darkmagenta;margin: 5px;padding: 5px">

                            <span style="color:white" th:text="${currentWorkoutDay.dayName} + ' ' " ></span>
                            <span style="color: orange" th:text="${currentWorkoutDay.dayNumber}" ></span>

                            <th:block th:each="workout : ${userWorkouts}">

                        <span th:if="${workout.workoutDate.equalsIgnoreCase(currentWorkoutDay.todayWeekDate)} ">

                            <br />
                            <a href="#" th:href="@{/workout/{id}(id=${workout.id})}">
                                <img src="#" alt="image" th:src="@{${workout.imagePath}}" />
                            </a>

                        </span>

                            </th:block>

                        </div>

                    </th:block>

                </div>
                <div class="panel-block"> 

                    <th:block th:each="currentWorkoutDay : ${weekFourCurrentDays}">

                        <div style="float: left;background-color: #8393c4;border: darkmagenta;margin: 5px;padding: 5px">

                            <span style="color:white" th:text="${currentWorkoutDay.dayName} + ' ' " ></span>
                            <span style="color: orange" th:text="${currentWorkoutDay.dayNumber}" ></span>

                            <th:block th:each="workout : ${userWorkouts}">

                        <span th:if="${workout.workoutDate.equalsIgnoreCase(currentWorkoutDay.todayWeekDate)} ">

                            <br />
                            <a href="#" th:href="@{/workout/{id}(id=${workout.id})}">
                                <img src="#" alt="image" th:src="@{${workout.imagePath}}" />
                            </a>

                        </span>

                            </th:block>

                        </div>

                    </th:block>

                </div>
                <div class="panel-block"> 

                    <th:block th:each="currentWorkoutDay : ${weekFiveCurrentDays}">

                        <div style="float: left;background-color: #8393c4;border: darkmagenta;margin: 5px;padding: 5px">

                            <span style="color:white" th:text="${currentWorkoutDay.dayName} + ' ' " ></span>
                            <span style="color: orange" th:text="${currentWorkoutDay.dayNumber}" ></span>

                            <th:block th:each="workout : ${userWorkouts}">

                        <span th:if="${workout.workoutDate.equalsIgnoreCase(currentWorkoutDay.todayWeekDate)} ">

                            <br />
                            <a href="#" th:href="@{/workout/{id}(id=${workout.id})}">
                                <img src="#" alt="image" th:src="@{${workout.imagePath}}" />
                            </a>

                        </span>

                            </th:block>

                        </div>

                    </th:block>

                </div>
                <div class="panel-block"> 

                    <th:block th:each="currentWorkoutDay : ${weekSixCurrentDays}">

                        <div style="float: left;background-color: #8393c4;border: darkmagenta;margin: 5px;padding: 5px">

                            <span style="color:white" th:text="${currentWorkoutDay.dayName} + ' ' " ></span>
                            <span style="color: orange" th:text="${currentWorkoutDay.dayNumber}" ></span>

                            <th:block th:each="workout : ${userWorkouts}">

                        <span th:if="${workout.workoutDate.equalsIgnoreCase(currentWorkoutDay.todayWeekDate)} ">

                            <br />
                            <a href="#" th:href="@{/workout/{id}(id=${workout.id})}">
                                <img src="#" alt="image" th:src="@{${workout.imagePath}}" />
                            </a>

                        </span>

                            </th:block>

                        </div>

                    </th:block>

                </div>
            
        </article>
    </div>

</div>

<script th:inline="javascript" type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script th:inline="javascript" type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Type', 'Workout Types'],
          ['Pecs', [[${pecsWorkoutsNumber}]]],
          ['Triceps', [[${tricepsWorkoutsNumber}]]],
          ['Back',  [[${backWorkoutsNumber}]]],
          ['Delts', [[${deltsWorkoutsNumber}]]],
          ['Biceps', [[${bicepsWorkoutsNumber}]]]
        ]);

        var options = {
          title: 'Statistics on Workouts',
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
</script>



</body>
</html>