<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <title>Workout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>

<!--<div th:replace="/common/navbar :: navbar"></div>-->

<div th:fragment="navbar">
    <nav style="background-color: #5F6B91;color:white" class="navbar navbar-expand-lg navbar-dark ">

        <a class="navbar-brand" href="/home">Home</a>

        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li style="color: white" class="nav-item">
                    <a class="nav-link" href="/workouts/view">My Workouts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/workout/new">Create Workout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/workout/find">Find Workout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/workouts/week">Week view</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/workouts/month">Month view</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registration">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/exercises/own">Own Exercises</a>
                </li>
                <!--<form class="form-inline">-->
                <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
                <!--<button style="float: right" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                <!--</form>-->
            </ul>
        </div>
        <div>
            <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                <li  class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       style="color: white"
                       href="#"
                       id="navbarDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/profile}" href="#">Profile page</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" th:href="@{/logout}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="main_padding_margin">
    <!--<h3 style="text-align: center" th:text="${workout.name}"></h3>-->
    <table class="table table-bordered">
        <tr>
            <th style="background-color: grey;color:white;text-align: right">Type</th>
            <td>
                <img src="#" alt="image" th:src="@{${workout.imagePath}}" />
            </td>
        </tr>
        <tr>
            <th style="background-color: grey;color:white;text-align: right">Exercises <br />
                <a href="#" th:href="@{/workout/{id}/exercise/new(id=${workout.id})}">
                    <img style="vertical-align: bottom" src="../../images/cross_green.png" height="20" width="20" alt="Add">
                </a>
            </th>
            <td>
                <p th:if="${workout.exercises.isEmpty()}">No Exercises</p>

                <th:block th:each="exercise : ${workout.exercises}">

                    <a href="#" th:href="@{/exercise/{id}/view(id=${exercise.id})}">
                        <p th:text="${exercise.title}"></p>
                    </a>

                </th:block>

                <!--<a th:href="@{/workout/{id}/exercise/new(id=${workout.id})}"-->
                   <!--class="btn btn-success btn-sm" >-->
                    <!--New-->
                <!--</a>-->
            </td>
        </tr>
        <tr>
            <th style="background-color: grey;color:white;text-align: right">Sets</th>
            <td th:text="${workout.sets}"></td>
        </tr>
        <tr>
            <th style="background-color: grey;color:white;text-align: right">Day</th>
            <td th:text="${workout.workoutDay}"></td>
        </tr>
        <tr>
            <th style="background-color: grey;color:white;text-align: right">Date</th>
            <td th:text="${workout.workoutDate}"></td>
        </tr>
        <tr>
            <th style="background-color: grey;color:white;text-align: right">Comments</th>
            <td th:text="${workout.comments}"><a href="" th:href="@{}"></a></td>
        </tr>
        <tr>
            <th style="background-color: grey;color:white;text-align: right">Actions</th>
            <td>
                <a th:href="@{/workout/{id}/edit(id=${workout.id})}"
                   class="btn btn-primary btn-sm" >
                    Edit
                </a>
                <a th:href="@{/workout/{id}/delete(id=${workout.id})}"
                   class="btn btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this workout?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>