<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Create Exercise</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>

<!--<div th:replace="/common/navbar :: navbar"></div>-->

<div th:fragment="navbar">
    <nav style="background-color: #5F6B91;color:white" class="navbar navbar-expand-lg navbar-dark ">

        <a class="navbar-brand" href="/home">Home</a>

        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li style="color: white" class="nav-item">
                    <a class="nav-link" href="/workouts/view">My Workouts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/workout/new">Create Workout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/workout/find">Find Workout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/workouts/week">Week view</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/workouts/month">Month view</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registration">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/exercises/own">Own Exercises</a>
                </li>
                <!--<form class="form-inline">-->
                <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
                <!--<button style="float: right" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                <!--</form>-->
            </ul>
        </div>
        <div>
            <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                <li  class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       style="color: white"
                       href="#"
                       id="navbarDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/profile}" href="#">Profile page</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" th:href="@{/logout}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="main_padding_margin" style="padding: 10px;margin: 10px">

    <form class="form-group"
          th:action="@{/workout/{id}/exercise/new(id=${workout.id})}"
          th:object="${exercise}"
          method="post">

        <div class="form-group">
            <label style="color: blue" for="title"><b>Title</b></label>
            <select class="form-control" id="title" th:field="*{title}">

                <option value="0">Select Exercise</option>
                <option th:each="title : ${exercisesList}"
                        th:value="${title.name}"
                        th:text="${title.name}">

                </option>
            </select>
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error></p>
        </div>

        <div class="form-group">
            <label for="comments"><h4><b>Comments</b></h4></label>
            <textarea class="form-control" id="comments" th:field="*{comments}" rows="3"></textarea>
            <p th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}">Comments Error></p>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>