<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165694098-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-165694098-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Own Exercises</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>

<!--<div th:replace="/common/navbar :: navbar"></div>-->

<div th:fragment="navbar">
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">

            <a class="navbar-item" href="/home">
                <img src="https://img.icons8.com/dotty/80/000000/barbell.png">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>

        </div>

        <div id="navbarBasicExample" class="navbar-menu">

            <div class="navbar-start">

                <a class="navbar-item" href="/home">
                    Home
                </a>

                <a class="navbar-item" href="/workouts/view">
                    Workouts
                </a>

                <a class="navbar-item" href="/workouts/week">
                    Week View
                </a>

                <a class="navbar-item" href="/workouts/month">
                    Month View
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/workout/find">
                            Find Workout
                        </a>
                        <a class="navbar-item" href="/workout/new">
                            Create Workout
                        </a>
                        <a href="/workout/stats" class="navbar-item">
                            Workouts Statistics
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="/registration">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" href="/profile">
                            Profile
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="section">

    <hr>
    <h3 class="title is-3">Exercises grouped by Workout type</h3>
    <hr>

    <a class="button is-info" href="" th:href="@{/exercise/own/add}" >Create New Exercise</a>
    <br />
    <br />

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        BICEPS exercises
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <table>
                        <th:block th:each="exercise : ${ownExercisesList}">
                            <tr>
                                <td th:if="${exercise.category.equalsIgnoreCase('BICEPS')}" th:text="${exercise.name}"></td>
                                <td>
                                    <a th:if="${exercise.category.equalsIgnoreCase('BICEPS')}" th:href="@{/exercise/own/{id}/delete(id=${exercise.id})}"
                                       class="btn-sm btn-danger"
                                       onclick="if (!(confirm('Are you sure you want to delete this exercise?'))) return false"
                                       href="#">Delete</a>
                                </td>
                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        PECS exercises
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <table>
                        <th:block th:each="exercise : ${ownExercisesList}">
                            <tr>
                                <td th:if="${exercise.category.equalsIgnoreCase('PECS')}" th:text="${exercise.name}"></td>
                                <td>
                                    <a th:if="${exercise.category.equalsIgnoreCase('PECS')}" th:href="@{/exercise/own/{id}/delete(id=${exercise.id})}"
                                       class="btn-sm btn-danger"
                                       onclick="if (!(confirm('Are you sure you want to delete this exercise?'))) return false"
                                       href="#">Delete</a>

                                </td>
                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        TRICEPS exercises
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <table>
                        <th:block th:each="exercise : ${ownExercisesList}">
                            <tr>
                                <td th:if="${exercise.category.equalsIgnoreCase('TRICEPS')}" th:text="${exercise.name}"></td>
                                <td>
                                    <a th:if="${exercise.category.equalsIgnoreCase('TRICEPS')}" th:href="@{/exercise/own/{id}/delete(id=${exercise.id})}"
                                       onclick="if (!(confirm('Are you sure you want to delete this exercise?'))) return false"
                                       class="btn-sm btn-danger" href="#">Delete</a>
                                </td>
                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        DELTS exercises
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <table>
                        <th:block th:each="exercise : ${ownExercisesList}">
                            <tr>
                                <td th:if="${exercise.category.equalsIgnoreCase('DELTS')}" th:text="${exercise.name}"></td>
                                <td>
                                    <a th:if="${exercise.category.equalsIgnoreCase('DELTS')}" th:href="@{/exercise/own/{id}/delete(id=${exercise.id})}"
                                       onclick="if (!(confirm('Are you sure you want to delete this exercise?'))) return false"
                                       class="btn-sm btn-danger" href="#">Delete</a>
                                </td>
                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        BACK exercises
                    </button>
                </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    <table>
                        <th:block th:each="exercise : ${ownExercisesList}">
                            <tr>
                                <td th:if="${exercise.category.equalsIgnoreCase('BACK')}" th:text="${exercise.name}"></td>
                                <td>
                                    <a th:if="${exercise.category.equalsIgnoreCase('BACK')}" th:href="@{/exercise/own/{id}/delete(id=${exercise.id})}"
                                       onclick="if (!(confirm('Are you sure you want to delete this exercise?'))) return false"
                                       class="btn-sm btn-danger" href="#">Delete</a>
                                </td>
                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingSix">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        ABS exercises
                    </button>
                </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    <table>
                        <th:block th:each="exercise : ${ownExercisesList}">
                            <tr>
                                <td th:if="${exercise.category.equalsIgnoreCase('ABS')}" th:text="${exercise.name}"></td>
                                <td>
                                    <a th:if="${exercise.category.equalsIgnoreCase('ABS')}" th:href="@{/exercise/own/{id}/delete(id=${exercise.id})}"
                                       onclick="if (!(confirm('Are you sure you want to delete this exercise?'))) return false"
                                       class="btn-sm btn-danger" href="#">Delete</a>
                                </td>
                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>